.icon-import {background:url('import.png') no-repeat !important;	}
.icon-import-pic {background:url('import_pic.png') no-repeat !important;	}
.icon-export {background:url('export.png') no-repeat !important;	}
.icon-excel {background:url('excel.png') no-repeat !important;	}
.icon-pdf {background:url('pdf.png') no-repeat !important;	}
.icon-pro-icon { width:16px; height:16px; background:url('pro_icon.png') no-repeat !important;	}
.icon-po {background:url('po.png') no-repeat !important;	}
.icon-pi {background:url('pi.png') no-repeat !important;	}
.icon-lightning {background:url('lightning.png') no-repeat !important;	}
.icon-view-capacity {background:url('view-capacity.png') no-repeat !important;	}
.icon-view-translate {background:url('translate.png') no-repeat !important;	}
.icon-calender {background:url('calender_icon_01.png') no-repeat !important;	}
.icon-active-qo  {background:url('hl_qo.png') no-repeat !important;	}
.icon-deactive-qo  {background:url('stop.png') no-repeat !important;	}
.icon-create-xk  {background:url('create-xk.png') no-repeat !important;	}
.icon-pkl-po  {background:url('pkl-po.png') no-repeat !important;	}
.icon-pkl-partner  {background:url('pkl-partner.png') no-repeat !important;	}
.icon-create-xkn  {background:url('xkn.png') no-repeat !important;	}
.icon-stop  {background:url('stop.png') no-repeat !important;	}


.icon-tick  {background:url('tick-icon.png') no-repeat !important; width:16px; height:16px }
.icon-mod-qo  {background:url('mod_po.png') no-repeat !important;	}
.icon-f2 {background:url('f2.png') no-repeat !important;}


.icon-copy  {background:url('copy.png') no-repeat !important;	}
.soanthao{background:red; width:30px; height:10px}
.hieuluc{background:green; width:30px; height:10px}
.ketthuc{background:blue; width:30px; height:10px}







